/* Put your CSS here */
html, body {
  margin: 30px;
  font-family: 'Average Sans';
}

header.masthead {
  width: 400px;
  margin: 0 auto;
}

header.masthead h1 {
  font-family: 'Condiment';
  font-size: 3.6em;
  margin: 0;
  line-height: 30px;
}

header.masthead h2 {
  font-family: 'Average Sans';
  margin: 0;
  font-weight: 400;
  font-size: 0.8em;
}

header.masthead hgroup {
  color: #000;
  text-align: center;
}

header.masthead a {
  text-decoration: none;
}

header.masthead nav {
  margin-top: 15px;
}

header.masthead nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header.masthead nav ul li {
  display: inline;
}

header.masthead {
  margin-bottom: 100px;
}

a {
  color: #023373;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #CF5C55;
}

article.dream {
  margin-bottom: 50px;
}

article.dream p {
  margin: 0;
}

article.dream p.content {
  margin-bottom: 5px;
}

article.dream footer {
  font-size: 12px;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
}

.main p {
  margin-top: 100px;
  text-align: center;
}

.dream-form textarea {
  width: 400px;
  height: 100px;
}

.dream-form select {
  display: inline-block;
  float: right;
  width: 120px;
}

.dream-form input {
  width: 200px;
}

.dream-form button {
  margin-top: 30px;
  float: right;
}

.moderation-box footer {
  margin-top: 50px;
  text-align: center;
}

.comments textarea {
  width: 395px;
  height: 100px;
}

.comments .pseudo {
  margin-top: 10px;
  text-align: right;
  width: 400px;
}

.comments button {
  margin-left: 10px;
  margin-right: 0;
}

.comments h1 {
  font-size: 17px;
}